<section class="container d-flex align-items-center p-5" style="background-color: #009688;">
    <img class="img-fluid" src="../../img/robo.png" alt="robô">
    <div class="d-flex flex-wrap justify-content-end text-right w-75 text-light">
        <h2>— Oi, Quem bom ter você aqui!</h2>
        <h5>Aqui é o Blog Oficial da e-Leve. Ainda não nos conhece? Clique no botão abaixo e saiba o que preparamos pra você.</h4>
        <a class="btn btn-light" style="width: 200px;" href="https://e-leve-new.netlify.com/" target="_blank">Ir agora</a>
    </div>
</section>