<footer class="d-flex p-2 align-items-center justify-content-center text-light mt-5" style="background-color: #009688;"">
    <p class="m-0">e-Leve 2019 | Todos os direitos reservados</p>
</footer>
</body>
</html>