<nav class="navbar navbar-dark" style="background-color: #009688;">
    <a class="navbar-brand" href="#"><img src="/img/logo.png" alt="e-leve"></a>
    <a class="nav-link text-light ml-auto" href="">PAINEL  ADMINISTRATIVO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-light"></span>
      </button>
      <div class="navbar-collapse collapse show" id="navbarsExample01" style="">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Minha conta<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/admin/articles/">Artigos<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/admin/categories">Categorias<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
</nav>